// App Color Variables
$primaryColor:#4e9cf7;
$secondaryBG:#393939;
$btnBG:#1a73e8;
$inputHoverBorder:$primaryColor;
$colorWhite:#ffffff;
$overlayBG:rgba(0,0,0,.55);
$blackColor:#000000;
$greyBG:#CCCCCC;
$errorColor:rgb(255, 6, 6);
