// Font Family Variable
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700');
// Font Weight Variables
$appFontFamily: 'IBM Plex Sans',
sans-serif;

// Font Weight Variables
$fontWeightLight:300;
$fontWeightRegular:normal;
$fontWeightSemiBold:600;
$fontWeightBold:bold;

// Font Size Variables
$fontSizeSmall:12px;
$fontSizeMedium:14px;
$fontSizeLarge:16px;